In [8]:
import pandas as pd

df = pd.read_parquet("../di_data.parquet")
df

,TradeDate,ExpirationDate,TickerSymbol,BDaysToExp,OpenContracts,TradeCount,TradeVolume,FinancialVolume,DV01,OpenRate,MinRate,AvgRate,MaxRate,CloseRate,CloseBidRate,CloseAskRate,SettlementRate,SettlementPrice
0,1995-01-02,1995-02-01,DI1FEV5,22,185169,340,45045,2180001225,0.56255,<NA>,0.44285,0.45276,0.46003,0.45485,<NA>,<NA>,0.45721,96766.31
1,1995-01-02,1995-03-01,DI1MAR5,40,12145,21,1590,74621000,1.019868,<NA>,0.48964,0.49035,0.49264,0.49014,<NA>,<NA>,0.48974,93869.01
2,1995-01-02,1995-04-03,DI1ABR5,63,150,0,0,0,1.636827,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.45662,91025.65
3,1995-01-03,1995-02-01,DI1FEV5,21,193594,427,81175,3932939112,0.530598,<NA>,0.45559,0.45915,0.46463,0.45739,<NA>,<NA>,0.45949,96898.37
4,1995-01-03,1995-03-01,DI1MAR5,39,12295,96,13425,630682950,0.966267,<NA>,0.48643,0.49601,0.50184,0.49565,<NA>,<NA>,0.49665,93950.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217068,2025-03-21,2036-01-02,DI1F36,2699,21939,4,4,92069,21.598545,0.147,0.147,0.147,0.147,0.147,<NA>,0.1445,0.14652,23120.85
217069,2025-03-21,2037-01-02,DI1F37,2952,7726,16,300,6018722,20.490568,0.1465,0.1465,0.14697,0.147,0.147,0.1458,0.1442,0.14697,20062.74
217070,2025-03-21,2038-01-04,DI1F38,3201,35011,5,587,10552619,19.561815,0.1446,0.1446,0.14464,0.1447,0.1447,<NA>,<NA>,0.14629,17653.0
217071,2025-03-21,2039-01-03,DI1F39,3452,4981,3,300,4583496,18.17196,0.147,0.147,0.147,0.147,0.147,<NA>,<NA>,0.14732,15220.05
217072,2025-03-21,2040-01-02,DI1F40,3703,2716,5,300,4018794,17.181955,0.1466,0.1466,0.1466,0.1466,0.1466,<NA>,<NA>,0.14654,13406.29

In [12]:
pd.read_pickle("../data/b3_di.pkl.gz", compression="gzip")

,TradeDate,ExpirationDate,TickerSymbol,BDaysToExp,OpenContracts,TradeCount,TradeVolume,FinancialVolume,DV01,OpenRate,MinRate,AvgRate,MaxRate,CloseRate,CloseBidRate,CloseAskRate,SettlementRate,SettlementPrice
0,1995-01-02,1995-02-01,DI1FEV5,22,185169,340,45045,2180001225,0.56255,<NA>,0.44285,0.45276,0.46003,0.45485,<NA>,<NA>,0.45721,96766.31
1,1995-01-02,1995-03-01,DI1MAR5,40,12145,21,1590,74621000,1.019868,<NA>,0.48964,0.49035,0.49264,0.49014,<NA>,<NA>,0.48974,93869.01
2,1995-01-02,1995-04-03,DI1ABR5,63,150,0,0,0,1.636827,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.45662,91025.65
3,1995-01-03,1995-02-01,DI1FEV5,21,193594,427,81175,3932939112,0.530598,<NA>,0.45559,0.45915,0.46463,0.45739,<NA>,<NA>,0.45949,96898.37
4,1995-01-03,1995-03-01,DI1MAR5,39,12295,96,13425,630682950,0.966267,<NA>,0.48643,0.49601,0.50184,0.49565,<NA>,<NA>,0.49665,93950.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217068,2025-03-21,2036-01-02,DI1F36,2699,21939,4,4,92069,21.598545,0.147,0.147,0.147,0.147,0.147,<NA>,0.1445,0.14652,23120.85
217069,2025-03-21,2037-01-02,DI1F37,2952,7726,16,300,6018722,20.490568,0.1465,0.1465,0.14697,0.147,0.147,0.1458,0.1442,0.14697,20062.74
217070,2025-03-21,2038-01-04,DI1F38,3201,35011,5,587,10552619,19.561815,0.1446,0.1446,0.14464,0.1447,0.1447,<NA>,<NA>,0.14629,17653.0
217071,2025-03-21,2039-01-03,DI1F39,3452,4981,3,300,4583496,18.17196,0.147,0.147,0.147,0.147,0.147,<NA>,<NA>,0.14732,15220.05
217072,2025-03-21,2040-01-02,DI1F40,3703,2716,5,300,4018794,17.181955,0.1466,0.1466,0.1466,0.1466,0.1466,<NA>,<NA>,0.14654,13406.29

In [ ]:
# df.to_pickle("../data/b3_di.pkl.gz", compression="gzip")