In [6]:
import pandas as pd

df = pd.read_parquet("../data/b3_di.parquet")
df

,TradeDate,ExpirationDate,TickerSymbol,BDaysToExp,OpenContracts,TradeCount,TradeVolume,FinancialVolume,DV01,OpenRate,MinRate,AvgRate,MaxRate,CloseRate,CloseBidRate,CloseAskRate,SettlementRate,SettlementPrice
0,1995-01-02,1995-02-01,DI1FEV5,22,185169,340,45045,2180001225,0.56255,<NA>,0.44285,0.45276,0.46003,0.45485,<NA>,<NA>,0.45721,96766.31
1,1995-01-02,1995-03-01,DI1MAR5,40,12145,21,1590,74621000,1.019868,<NA>,0.48964,0.49035,0.49264,0.49014,<NA>,<NA>,0.48974,93869.01
2,1995-01-02,1995-04-03,DI1ABR5,63,150,0,0,0,1.636827,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.45662,91025.65
3,1995-01-03,1995-02-01,DI1FEV5,21,193594,427,81175,3932939112,0.530598,<NA>,0.45559,0.45915,0.46463,0.45739,<NA>,<NA>,0.45949,96898.37
4,1995-01-03,1995-03-01,DI1MAR5,39,12295,96,13425,630682950,0.966267,<NA>,0.48643,0.49601,0.50184,0.49565,<NA>,<NA>,0.49665,93950.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217263,2025-03-28,2036-01-02,DI1F36,2694,22540,0,0,0,21.291369,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.14801,22864.0
217264,2025-03-28,2037-01-02,DI1F37,2947,7718,8,2711,54256164,20.267983,0.148,0.147,0.14747,0.148,0.147,<NA>,<NA>,0.14805,19897.19
217265,2025-03-28,2038-01-04,DI1F38,3196,40759,51,503,8853517,19.465409,0.1468,0.1467,0.14679,0.1468,0.1467,<NA>,<NA>,0.1468,17601.31
217266,2025-03-28,2039-01-03,DI1F39,3447,8156,19,1151,17742594,18.441376,0.1468,0.1462,0.14648,0.1468,0.1462,<NA>,<NA>,0.14627,15453.95
217267,2025-03-28,2040-01-02,DI1F40,3698,6666,22,4200,56662055,17.335263,0.1465,0.1459,0.14626,0.1466,0.1459,<NA>,<NA>,0.14599,13537.7