In [2]:
import pandas as pd

df = pd.read_parquet("../data/anbima_tpf.parquet")
df

       BondType ReferenceDate MaturityDate  IndicativeRate       Price
0           LFT    2007-01-02   2007-01-10        -0.00015        <NA>
1           LFT    2007-01-02   2007-01-17       -0.000149        <NA>
2           LFT    2007-01-02   2007-02-14       -0.000154        <NA>
3           LFT    2007-01-02   2007-02-21        -0.00015        <NA>
4           LFT    2007-01-02   2007-03-14       -0.000148        <NA>
...         ...           ...          ...             ...         ...
228719    NTN-F    2025-03-28   2027-01-01          0.1503  952.365817
228720    NTN-F    2025-03-28   2029-01-01        0.149318  894.107982
228721    NTN-F    2025-03-28   2031-01-01        0.150925   843.39203
228722    NTN-F    2025-03-28   2033-01-01         0.15037  809.313682
228723    NTN-F    2025-03-28   2035-01-01         0.15075  781.508291

[228724 rows x 5 columns]

In [4]:
df.ReferenceDate.drop_duplicates().sort_values().reset_index(drop=True)

0      2007-01-02
1      2007-01-03
2      2007-01-04
3      2007-01-05
4      2007-01-08
          ...
4512   2025-03-24
4513   2025-03-25
4514   2025-03-26
4515   2025-03-27
4516   2025-03-28
Name: ReferenceDate, Length: 4517, dtype: datetime64[ns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228724 entries, 0 to 228723
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   BondType        228724 non-null  string
 1   ReferenceDate   228724 non-null  datetime64[ns]
 2   MaturityDate    228724 non-null  datetime64[ns]
 3   IndicativeRate  228724 non-null  Float64
 4   Price           58917 non-null   Float64
dtypes: Float64(2), datetime64[ns](2), string(1)
memory usage: 9.2 MB

In [6]:
rdate = pd.to_datetime("03-01-2024", dayfirst=True)
df.query("ReferenceDate == @rdate").reset_index(drop=True)

   BondType ReferenceDate MaturityDate  IndicativeRate         Price
0       LFT    2024-01-03   2024-03-01        -0.00016  14282.392313
1       LFT    2024-01-03   2024-09-01       -0.000137  14283.334928
2       LFT    2024-01-03   2025-03-01        0.000014  14281.792468
3       LFT    2024-01-03   2025-09-01        0.000162  14278.193395
4       LFT    2024-01-03   2026-03-01        0.000411  14269.381379
5       LFT    2024-01-03   2026-09-01        0.000726  14254.499499
6       LFT    2024-01-03   2027-03-01        0.001206  14228.092015
7       LFT    2024-01-03   2027-09-01        0.001305  14214.195595
8       LFT    2024-01-03   2028-03-01        0.001374  14201.013276
9       LFT    2024-01-03   2028-09-01        0.001483  14183.931962
10      LFT    2024-01-03   2029-03-01        0.001606  14165.008266
11      LFT    2024-01-03   2029-09-01        0.001677  14147.727003
12      LTN    2024-01-03   2024-04-01        0.111034    975.242313
13      LTN    2024-01-03   2024-07-01        0.106105    951.969879
14      LTN    2024-01-03   2024-10-01        0.101534    930.039876
15      LTN    2024-01-03   2025-01-01        0.098623    910.230351
16      LTN    2024-01-03   2025-04-01        0.098665    889.698208
17      LTN    2024-01-03   2025-07-01        0.097795    870.685519
18      LTN    2024-01-03   2025-10-01        0.097528    850.027672
19      LTN    2024-01-03   2026-01-01         0.09715    830.745476
20      LTN    2024-01-03   2026-07-01        0.097955     792.83506
21      LTN    2024-01-03   2027-07-01        0.099889    718.229917
22    NTN-B    2024-01-03   2024-08-15        0.064763   4266.019173
23    NTN-B    2024-01-03   2025-05-15          0.0544   4247.937379
24    NTN-B    2024-01-03   2026-08-15        0.051766   4359.557528
25    NTN-B    2024-01-03   2027-05-15          0.0526   4311.562537
26    NTN-B    2024-01-03   2028-08-15         0.05227    4409.17578
27    NTN-B    2024-01-03   2030-08-15          0.0522   4461.454842
28    NTN-B    2024-01-03   2032-08-15        0.053212   4474.993178
29    NTN-B    2024-01-03   2033-05-15        0.053142   4429.449814
30    NTN-B    2024-01-03   2035-05-15         0.05348   4452.200578
31    NTN-B    2024-01-03   2040-08-15        0.053735   4570.338875
32    NTN-B    2024-01-03   2045-05-15        0.054804   4499.070163
33    NTN-B    2024-01-03   2050-08-15        0.054784   4594.344737
34    NTN-B    2024-01-03   2055-05-15          0.0548   4555.001564
35    NTN-B    2024-01-03   2060-08-15        0.054948   4625.061197
36    NTN-C    2024-01-03   2031-01-01        0.055269   8319.419694
37    NTN-F    2024-01-03   2025-01-01        0.098702   1001.206109
38    NTN-F    2024-01-03   2027-01-01        0.098851   1003.857578
39    NTN-F    2024-01-03   2029-01-01        0.101938      995.2765
40    NTN-F    2024-01-03   2031-01-01        0.103929    984.719625
41    NTN-F    2024-01-03   2033-01-01        0.104724    977.127029

In [ ]:
# df.to_parquet("../anbima_data.parquet", index=False, compression="gzip")